@model CourseWeb.Models.Curso

@{
    ViewData["Title"] = "EditarC";
}

<h1>Editar Curso</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditarC">
            <div class="mb-3">
                <label asp-for="Titulo" class="form-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descripcion" class="form-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaPublicacion" class="form-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" type="date" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-controller="Course" asp-action="Index" class="btn btn-warning">Volver Atrás</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
