@using CourseWeb.Models

@{
    ViewData["Title"] = "Evaluacion";
}

<div class="row" stlye="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Lista de evaluaciones</h4>
            </div>
            <div class="panel-boddy">
                <a class="btn btn-success">Crear Evaluacion</a>
                <hr />

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Curso</th>
                        <th>Evaluacion</th>
                        <th style="width:150px"></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>
